ion-content, ion-toolbar, bg-beige{
  --ion-background-color: white !important;
  background-color: white;
  --background:white;
  --ion-background-color:white;
}

.page-title{
    font-weight: bolder;
    color: black;
    font-family: "Arial", sans-serif;
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

ion-list, ion-item{
    background-color: white !important;
    --ion-background-color: white !important;
    background: white !important;
    --background: white !important;
    font-family: "Arial", sans-serif;
}
  
.black{
    color: black;
}

ion-badge {
    --background: lightgrey;
    --color: black;
    --padding: 20px;
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    border-radius: 50%;
  }

  .hotline-numbers, .hotline-title{
    font-size: 1.5rem;
  }
  .hotline-numbers{
    font-weight: bolder;
  }

  .text-danger{
    color: red;
  }