<div class="ion-page" >
  <ion-content [fullscreen]="true"  [scrollEvents]="false">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back-outline" size="large" class="black" [routerLink]="['/home/dashboard']"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="ion-text-uppercase ion-text-center page-title ion-margin-bottom">
      <h1 class="text-danger">DASMARIÑAS Emergency Hotlines</h1>
    </div>

    <ion-list lines="none">
      <ion-item>
        <ion-grid>
          <ion-row class="ion-margin-bottom">
            <ion-col>            
              <ion-text class="black hotline-title">
              DASMARIÑAS CDRRMO:
              </ion-text>
              </ion-col>
              <ion-col>
                <a href="tel:+639465131766"><ion-text class="black hotline-numbers">
                0946 513 1766
                </ion-text></a></ion-col>
          </ion-row>
          
          <ion-row class="ion-margin-bottom">
            <ion-col>            
              <ion-text class="black hotline-title">
              PAGAMUTAN NG DASMARIÑAS:
              </ion-text>
              </ion-col>
              <ion-col>
                <a href="tel:+639985665555"><ion-text class="black hotline-numbers">
                0998 566 5555</ion-text></a>
                  <br>
                <a href="tel:+639464814400"><ion-text class="black hotline-numbers">0946 481 4400
                </ion-text>
              </a>
              </ion-col>
          </ion-row>
          
          <ion-row class="ion-margin-bottom">
            <ion-col>            
              <ion-text class="black hotline-title">
              DASMARIÑAS PNP:
              </ion-text>
              </ion-col>
              <ion-col>
                <a href="tel:+639568003329"><ion-text class="black hotline-numbers">0956 800 3329</ion-text></a>
                <br>
                <a href="tel:+639464160254"><ion-text class="black hotline-numbers">0946 416 0254</ion-text></a>
                <br>
                <a href="tel:+639464162924"><ion-text class="black hotline-numbers">0946 416 2924</ion-text></a>
                </ion-col>
          </ion-row>

          <ion-row class="ion-margin-bottom">
            <ion-col>            
              <ion-text class="black hotline-title">
              DASMARIÑAS BUREAU OF FIRE PROTECTION:
              </ion-text>
              </ion-col>
              <ion-col>
                <a href="tel:0464160875"><ion-text class="black hotline-numbers">046 416 0875</ion-text></a>
                <br>
                <a href="tel:0464242537"><ion-text class="black hotline-numbers">046 424 2537</ion-text></a>
                </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

  </ion-content>

</div>