<div class="ion-page" >
  <ion-content [fullscreen]="true"  >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="arrow-back-outline" size="large" class="black" [routerLink]="['/home/dashboard']"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
      <div class="page-title page-title-bg ion-padding">
      FIRE SAFETY TIPS
    </div>
    </ion-col>
    </ion-row>
    </ion-grid>

 
  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">
          <span class="page-title-bg2">
        DAPAT GAWIN:
      </span>
      </ion-label>
    </ion-list-header>
    <ion-item>      
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Mag lagay ng mga listahan ng mga emergency numbers.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip1.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Mag sagawa ng regular fire drills sa mga opisina o bahay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip2.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Tiyaking madaling bukasan ang mga fire exits.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip3.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Mag lagay ng mga fire alarm sa bahay at mga opsina.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip4.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Ipaayos ang mga lumang linya ng kuryente.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip5.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">
        <span class="page-title-bg2">
        HINDI DAPAT GAWIN:
        </span>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Huwag mag overload ng mga saksakan ng kuryente.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip1B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Huwag mag iwan ng nakasinding kandila.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip2B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-text class="black">
              Ilayo sa mga bata ang mga bagay na pwedeng pag simulan ng sunog.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/fire-tip3B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    
  </ion-list>


</ion-content>
</div>