
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" size="large" class="black" [routerLink]="['/home/dashboard']"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollEvents]="true">
    <ion-text>
      <h1 class="black">Map</h1>
    </ion-text>

    <div *ngIf="apiLoaded | async">
      <google-map [center]="center" [zoom]="zoom" (mapInitialized)="onMapReady($event)" [options]="options">
        <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
          [options]="markerOptions" (mapClick)="onMarkerClick(markerPosition, markerPosition.key)">
        </map-marker>
      </google-map>
    </div>

    <ion-fab>
      <ion-fab-button (click)="onClickLocate($event)">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
      <ion-button>Share location</ion-button>
      
      <ion-item>
        <ion-label position="floating">Emergency Type</ion-label>
        <ion-input
          [(ngModel)]="emergencyType"
          [disabled]="!isInfoWindowOpen || !infoWindowData"
        ></ion-input>
      </ion-item>
      <ion-button [disabled]="!isInfoWindowOpen || !infoWindowData" (click)="submitRescueTicket()">Submit Rescue Ticket</ion-button>
    </ion-fab>

    <!-- Error message container -->
    <div class="error-message" *ngIf="errorMessage" (click)="dismissErrorMessage()">
      {{ errorMessage }}
      <ion-icon name="close-circle-outline" class="close-icon"></ion-icon>
    </div>
  </ion-content>