<div class="ion-page" >
  <ion-content [fullscreen]="true"  >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="arrow-back-outline" size="large" class="black" [routerLink]="['/home/dashboard']"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <pre class="page-title">
      MAGING HANDA AT ALERTO BAGO PA
      MAN DUMATING ANG BAGYO.
    </pre>

  <ion-list lines="none">
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Suriin ang bahay kung may sira ang kisame, bubong, pinto, at bintana at ipaayos agad.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip1.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Siguraduhin kumpleto ang mga gamit at mga fully charged ang mga batery ng phone or power bank.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip2.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Maging Updated sa mga balita sa radyo at telebisyon. Lumikas agad  papunta sa malapit na evacuation center kapag may babala mula sa PAGASA, Barangay o LGU
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip3.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung madalas mag baha sa inyong lugar, itaas ang mga gamit na maaaring maabot ng tubig.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip4.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Ipaliwanag sa mga bata kung paano mag ingat at mag handa para hindi sila mabahala kapag may bagyo.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip5.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">Kapag nag-landfall na ang bagyo siguruhin na laging updated ang pamilya sa mga alert ng lgu o barangay.</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Manatiling kalmado at nasa loob lang ng bahay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip1B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Maging up-to-date sa balita tungkol sa bagyo.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip2B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Mag handa ng Go Bag at ipaliwanag sa mga pamilya kapag lumala ang sitwasyon.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip3B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung kailangang mag evacuate patayin ang kuryente, isara ang tangke ng gas, at i-lock ang pinto.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip4B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung kailangang mag evacuate patayin ang kuryente, isara ang tangke ng gas, at i-lock ang pinto.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip5B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">Kapag humina na ang bagyo, siguruhin ligtas pa rin ang pamilya.</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Makinig sa balita at siguraduhing ligtas ng lumabas ng bahay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip1C.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung nag evacuate, tiyakin munang ligtas ang inyong lugar bago bumalik sa bahay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip2C.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kausapin ang mga bata at pakinggan ang kanilang saloobin pagkalipas ng bagyo.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip3C.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Suriin o ipasuri ang mga linya ng kuryente kung ligtas na ba itong gamitin.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip4C.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>


</ion-content>
</div>