<div class="ion-page" >
  <ion-content [fullscreen]="true"  >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-img style="width: 50px; height: 50px;" src='/assets/images/menu.png'></ion-img>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <pre class="page-title">
      MAGING HANDA AT ALERTO BAGO PA
      MAN DUMATING ANG BAGYO.
    </pre>

  <ion-list lines="none">
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Suriin ang bahay kung may sira ang kisame, bubong, pinto, at bintana at ipaayos agad.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip1.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Siguraduhin kumpleto ang mga gamit at mga fully charged ang mga batery ng phone or power bank.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip2.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Maging Updated sa mga balita sa radyo at telebisyon. Lumikas agad  papunta sa malapit na evacuation center kapag may babala mula sa PAGASA, Barangay o LGU
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip3.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung madalas mag baha sa inyong lugar, itaas ang mga gamit na maaaring maabot ng tubig.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Ipaliwanag sa mga bata kung paano mag ingat at mag handa para hindi sila mabahala kapag may bagyo.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/typhoon-tip5.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">Kapag nag-landfall na ang bagyo siguruhin na laging updated ang pamilya sa mga alert ng lgu o barangay.</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="page-title">Kapag humina na ang bagyo, siguruhin ligtas pa rin ang pamilya.</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              ________________________
              ____________
              ________
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/star.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
</div>