<div class="ion-page" >
<ion-content class="bg-yellow" [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-img style="width: 50px; height: 50px;" src='/assets/images/menu.png'></ion-img>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="bg-yellow">
          <div class="ion-text-center">
          <ion-card-header>
            <ion-card-title><h1 class="ion-text-uppercase" [innerHTML]="currentDate"></h1></ion-card-title>
            <ion-card-subtitle>
              <h1 *ngIf="locationInfo && weather; else elseBlock" [innerHTML]="locationInfo.city + ', ' + locationInfo.region"></h1>
              <ng-template #elseBlock>Loading...</ng-template>
              <h2 *ngIf="weather;" [innerHTML]="weather.current.weather_descriptions[0]"></h2>
            </ion-card-subtitle>
          </ion-card-header>

          <img *ngIf="weather; else elseBlock" [src]="weatherIcon" alt="weather icon"/>
            <ng-template #elseBlock><img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="weather icon"></ng-template>

          <ion-card-content>

            <h1 *ngIf="weather;" [innerHTML]="weather.current.temperature + '°C'" class="temperature"></h1>
          </ion-card-content>
          </div>
        </ion-card>

          <ion-text color="primary">



          </ion-text>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
</div>
