.weather-summary{
  position: absolute;
  left: 50%;
  top: 10%;
  text-align: left;
}

ion-card{
  background-color: grey;
  box-shadow:none;
}

.temperature{
  font-weight: bolder;
  font-size: 45px;
}

ion-menu{
  --background:white;
}
