.weather-summary{
  position: absolute;
  left: 50%;
  top: 10%;
  text-align: left;
}

.bg-yellow, ion-toolbar{
  background-color: #FFED8D;
  --background:#FFED8D;
  --ion-background-color:#FFED8D;
}

ion-card{
  background-color: #FFED8D;
  box-shadow:none;
}

.temperature{
  font-weight: bolder;
  font-size: 45px;
}

ion-menu{
  --background:white;
}
