ion-content, ion-toolbar{
  --ion-background-color: grey !important;
}

ion-list, ion-item{
  background-color: grey !important;
  --ion-background-color: grey !important;
  background: grey !important;
  --background: grey !important;
}


.card-content{
  height: 100% !important;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-text{
  color: black;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.menu-card {
  background-color: white !important;
  --ion-background-color: white !important;  
  background-size: cover;
  width: 100%;
  border-radius: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-1{
  background-image: url('/assets/images/menu_hotlines.png');
}
.menu-2{
  background-image: url('/assets/images/menu_typhoon.png');
}
.menu-3{
  background-image: url('/assets/images/menu_earthquake.png');
}
.menu-4{
  background-image: url('/assets/images/menu_fire.png');
}