<div class="ion-page" >
  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-img style="width: 50px; height: 50px;" src='/assets/images/menu.png'></ion-img>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <h1>
      <pre class="ion-color-primary">
      MAGANDANG
      ARAW.
        </pre>
    </h1>
    <ion-content [scrollEvents]="true">
    <ion-list lines="none">
      <ion-item >
        <ion-card class="menu-card menu-1" [routerLink]="['/home/hotlines']">
          <div class="card-content">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2"><img src="/assets/images/alarm-icon.png" alt="menu image"></ion-col>
                  <ion-col size="8" class="ion-text-center" ><p class="menu-text"><ion-text>EMERGENCY HOTLINES</ion-text></p></ion-col>
                  <ion-col size="2"><img src="/assets/images/menu_arrow_button.png" alt="menu image"></ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card class="menu-card menu-2" [routerLink]="['/home/typhoon']">
          <div class="card-content">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2"><img src="/assets/images/typhoon-icon.png" alt="menu image"></ion-col>
                  <ion-col size="8" class="ion-text-center" ><p class="menu-text"><ion-text>TYPHOON</ion-text></p></ion-col>
                  <ion-col size="2"><img src="/assets/images/menu_arrow_button.png" alt="menu image"></ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card class="menu-card menu-3" [routerLink]="['/home/earthquake']">
          <div class="card-content">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2"><img src="/assets/images/earthquake-icon.png" alt="menu image"></ion-col>
                  <ion-col size="8" class="ion-text-center" ><p class="menu-text"><ion-text>EARTHQUAKE</ion-text></p></ion-col>
                  <ion-col size="2"><img src="/assets/images/menu_arrow_button.png" alt="menu image"></ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card class="menu-card menu-4" [routerLink]="['/home/fire']">
          <div class="card-content">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2"><img src="/assets/images/fire-icon.png" alt="menu image"></ion-col>
                  <ion-col size="8" class="ion-text-center" ><p class="menu-text"><ion-text>FIRE</ion-text></p></ion-col>
                  <ion-col size="2"><img src="/assets/images/menu_arrow_button.png" alt="menu image"></ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>    

  </ion-content>
</div>
