<div class="ion-page" >
  <ion-content [fullscreen]="true"  >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="arrow-back-outline" size="large" class="black" [routerLink]="['/home/dashboard']"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col>
      <div class="page-title page-title-bg ion-padding">
        WALANG PARAAN PARA  MA-PREDICT
        ANG PAG LINDOL, KAYA KAILANGAN
        SIGURADUHING NA ANG TAHANAN AY
        MATATAG AT LIGTAS PARA SA PAMILYA
      </div>
    </ion-col>
      </ion-row>
    </ion-grid>
 
  <ion-list lines="none">
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Suriin: Malapit ba kayo sa fault line? O maaari bang mag landslide o tamaan ng tsunami?
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip1.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Siguraduhing matibay ang pagkakagawa ng pader at poste ng bahay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip2.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Ilagay ang mga mabibigat na furniture sa pader na maaaring bumagsak kapag lumindol.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip3.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Alamin ang mga ligat at hindi ligtas na lugar kapag lumilindol.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip4.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Ituro sa mga bata kung paano mag DROP, COVER, and HOLD sa oras ng lindol.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip5.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <div class="hr"> </div>
    <ion-list-header>      
      <ion-label class="page-subtitle">PAG KATAPOS NG LINDOL, MANATILING KALMADO AT PLANUHIN NG MAIGI ANG LIGTAS NA PAG-EVACUATE NG PAMILYA</ion-label>      
    </ion-list-header>
    <div class="hr"> </div>
    <ion-item>
      <ion-badge slot="start">1</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kapag ligtas nang lumabas, kunin ang Go Bag at mag evacuate sa open area evacuation. 
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip1B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">2</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Umiwas sa matataas na gusali at mga tulay na maaaring gumuho.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip2B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">3</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Maging alerto sa aftershocks, posibleng landslide at sunog. 
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip3B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">4</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kung nakatira malapit sa dagat makinig sa mga tsunami warning o advisory ng barangay.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip4B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-badge slot="start">5</ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-text class="black">
              Kumustahin at kausapin ang mga bata sa naramdamang lindol at ipaliwanag kung bakit nag kakaroon ng lindol sa mga lugar.
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-img src="/assets/images/earthquake-tip5B.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
</div>